<div class="demo">
  <h1>Angular TimelineJS V3 <i>beta</i> directive</h1>

  <form novalidate>
    <label for="language">Choose your language:</label>
    <select id="language" ng-model="options.language">
      <option value="en" selected>en</option>
      <option value="fr">fr</option>
      <option value="de">de</option>
    </select>

    <hr>

    <strong>Position of the timenav:</strong>
    <label><input type="radio" value="top" ng-model="options.timenav_position" checked="checked">top</label>
    <label><input type="radio" value="bottom" ng-model="options.timenav_position">bottom</label>

    <hr>

    <button class="btn btn-default" ng-click="timeline.goToPrev()">Previous slide</button>
    <button class="btn btn-default" ng-click="timeline.goToNext()">Next slide</button>

    <hr>
  </form>

  <div class="timeline-wrapper">
    <timeline control="timeline" height="500px" options="options"></timeline>
  </div>

  <pre>{{timeline.version}}</pre>
</div>