/* app css stylesheet */
.demo {
  padding: 20px;
}

.timeline .vco-icon-media-demo:after {
  font-family: 'Glyphicons Halflings';
  font-weight: bold;

  content: "\e021";
}

.timeline .vco-attribution {
  display: none;
}