/* app css stylesheet */
.demo {
  padding: 20px;
}

.timeline-wrapper {
  position: relative;
}

.timeline-wrapper .tl-icon-media-demo:after {
  font-family: 'Glyphicons Halflings';
  font-weight: bold;

  content: "\e021";
}

.timeline .tl-attribution {
  display: none;
}